@import '../vars';

.Header {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        cursor: crosshair;
        transition: $trans;

        &:hover {
            @media (min-width: 600px) {
                width: 60vh;
                height: 60vh;
                max-width: 550px;
                max-height: 550px;
            }
        }
    }

    h1 {
        padding: 1em;
        text-align: center;

        @media (max-width: 400px) {
            font-size: 1.5rem;
        }
    }
}