@import '../vars';

.NavItem {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid transparent;
    transition: $trans;

    &:hover {
        color: $accent;
        border-bottom-color: $accent;
    }

    a {
        padding: 1em;
        display: block;
        text-transform: uppercase;
    }
}